# libraries

In [49]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

# Import data

In [15]:
crashes = pd.read_csv('airplane_crashes.csv')
crashes.head(5)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [17]:
crashes = pd.read_csv('airplane_crashes.csv', names = ['Date',
                                                       'Time',
                                                       'Location',
                                                       'Operator',
                                                       'Flight #',
                                                       'Change Location to Crash_Location',
                                                       'Change Operator to Airline_Operator',
                                                       'Change Type to Aircraft_Type',
                                                       'Change Registration to Registration_Number',
                                                       'Change Aboard to People_Aboard',
                                                       'Change Fatalities to Fatalities_Aboard',
                                                       'Change Ground to Ground_Fatalities',
                                                       'Change Summary to Event_Info.s'], header =None, skiprows=1)
crashes.head(5)

,Date,Time,Location,Operator,Flight #,Change Location to Crash_Location,Change Operator to Airline_Operator,Change Type to Aircraft_Type,Change Registration to Registration_Number,Change Aboard to People_Aboard,Change Fatalities to Fatalities_Aboard,Change Ground to Ground_Fatalities,Change Summary to Event_Info.s
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [18]:
#2.3
print('The row count: ', crashes.shape[0])
print('Thhe column count: ', crashes.shape[1])

The row count:  5268
Thhe column count:  13

# Inspect data

In [19]:
#2.4
crashes.head(10)

,Date,Time,Location,Operator,Flight #,Change Location to Crash_Location,Change Operator to Airline_Operator,Change Type to Aircraft_Type,Change Registration to Registration_Number,Change Aboard to People_Aboard,Change Fatalities to Fatalities_Aboard,Change Ground to Ground_Fatalities,Change Summary to Event_Info.s
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,03/05/1915,01:00,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,09/03/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,07/28/1916,NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,09/24/1916,01:00,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,10/01/1916,23:45,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...

In [20]:
crashes.describe(include='all')

,Date,Time,Location,Operator,Flight #,Change Location to Crash_Location,Change Operator to Airline_Operator,Change Type to Aircraft_Type,Change Registration to Registration_Number,Change Aboard to People_Aboard,Change Fatalities to Fatalities_Aboard,Change Ground to Ground_Fatalities,Change Summary to Event_Info.s
count,5268,3049,5248,5250,1069,3562,5241,4933,4040,5246.000000,5256.000000,5246.000000,4878
unique,4753,1005,4303,2476,724,3244,2446,4905,3707,NaN,NaN,NaN,4673
top,09/11/2001,15:00,"Sao Paulo, Brazil",Aeroflot,-,Training,Douglas DC-3,49,178,NaN,NaN,NaN,Crashed during takeoff.
freq,4,32,15,179,67,81,334,3,6,NaN,NaN,NaN,15
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.554518,20.068303,1.608845,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.076711,33.199952,53.987827,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,3.000000,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,9.000000,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,23.000000,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,644.000000,583.000000,2750.000000,NaN

In [21]:
print(crashes.dtypes)

Date                                           object
Time                                           object
Location                                       object
Operator                                       object
Flight #                                       object
Change Location to Crash_Location              object
Change Operator to Airline_Operator            object
Change Type to Aircraft_Type                   object
Change Registration to Registration_Number     object
Change Aboard to People_Aboard                float64
Change Fatalities to Fatalities_Aboard        float64
Change Ground to Ground_Fatalities            float64
Change Summary to Event_Info.s                 object
dtype: object

In [23]:
#2.5 
crashes['Date'] = pd.to_datetime(crashes['Date'])

In [24]:
#updated dataType
print(crashes.dtypes)

Date                                          datetime64[ns]
Time                                                  object
Location                                              object
Operator                                              object
Flight #                                              object
Change Location to Crash_Location                     object
Change Operator to Airline_Operator                   object
Change Type to Aircraft_Type                          object
Change Registration to Registration_Number            object
Change Aboard to People_Aboard                       float64
Change Fatalities to Fatalities_Aboard               float64
Change Ground to Ground_Fatalities                   float64
Change Summary to Event_Info.s                        object
dtype: object

# Split date

In [30]:
#2.6
crashes['Year']= crashes['Date'].dt.year
crashes['Month']= crashes['Date'].dt.month
crashes['Day']= crashes['Date'].dt.day

In [ ]:
#changing position of columns
cols = crashes.columns.tolist() 
new_cols = [['Date','Year','Month', 'Date', 'Time',
                                                       'Location',
                                                       'Operator',
                                                       'Flight #',
                                                       'Change Location to Crash_Location',
                                                       'Change Operator to Airline_Operator',
                                                       'Change Type to Aircraft_Type',
                                                       'Change Registration to Registration_Number',
                                                       'Change Aboard to People_Aboard',
                                                       'Change Fatalities to Fatalities_Aboard',
                                                       'Change Ground to Ground_Fatalities',
                                                       'Change Summary to Event_Info.s']]
crashes = crashes.reindex(columns=new_cols)

In [31]:
#check data type
print(crashes.dtypes)

Date                                          datetime64[ns]
Time                                                  object
Location                                              object
Operator                                              object
Flight #                                              object
Change Location to Crash_Location                     object
Change Operator to Airline_Operator                   object
Change Type to Aircraft_Type                          object
Change Registration to Registration_Number            object
Change Aboard to People_Aboard                       float64
Change Fatalities to Fatalities_Aboard               float64
Change Ground to Ground_Fatalities                   float64
Change Summary to Event_Info.s                        object
Year                                                   int64
Month                                                  int64
Day                                                    int64
dtype: object

# Adding a column

In [42]:
#2.7.1
crashes['Total_Fatalities'] = crashes['Change Fatalities to Fatalities_Aboard'] + crashes['Change Ground to Ground_Fatalities']
crashes['Total_fatalities'].max()

ValueError: Wrong number of items passed 2, placement implies 1

In [43]:
#2.7.2
day_crash= crashes.loc[(crashes[])]

KeyError: 'Total_Fatalities'

# Ranking

In [44]:
#2.8

crashes.rank(ascending=False, method='first').head()
totalSum = crashes.sum(axis=1)
totalSum.rank(ascending=False, method='dense').sort_values().head()

,Date,Year,Month,Date,Time,Location,Operator,Flight #,Change Location to Crash_Location,Change Operator to Airline_Operator,Change Type to Aircraft_Type,Change Registration to Registration_Number,Change Aboard to People_Aboard,Change Fatalities to Fatalities_Aboard,Change Ground to Ground_Fatalities,Change Summary to Event_Info.s
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#2.9
airp_crashes= crashes[crashes['Change Summary to Event_Info.s'] = '%crashes']
airplane = crashes.size()
print ('Percentage of all airplanes: ', Round(int(len(airp_crashes)/float(len(airplane))*100), 2), '%.')

# Pie chart

In [ ]:
#2.10

airboard = crashes['Change Fatalities to Fatalities_Aboard'].value.counts()
plt.pie(airboard,labels=labels, colors=colors, startangle=90, autopct='%1.1f%%')

fig = plt.gcf()
fig.set_size_inches(6,6)
plt.show()

In [46]:
#2.16
crashes.isnull().sum()

Date                                          5268
Year                                          5268
Month                                         5268
Date                                          5268
Time                                          5268
Location                                      5268
Operator                                      5268
Flight #                                      5268
Change Location to Crash_Location             5268
Change Operator to Airline_Operator           5268
Change Type to Aircraft_Type                  5268
Change Registration to Registration_Number    5268
Change Aboard to People_Aboard                5268
Change Fatalities to Fatalities_Aboard        5268
Change Ground to Ground_Fatalities            5268
Change Summary to Event_Info.s                5268
dtype: int64

In [47]:
crashes.drop(crashes.isnull().sum(), axis=1, inplace=True)

In [48]:
#checking if droped
crashes.isnull().sum()

Date                                          5268
Year                                          5268
Month                                         5268
Date                                          5268
Time                                          5268
Location                                      5268
Operator                                      5268
Flight #                                      5268
Change Location to Crash_Location             5268
Change Operator to Airline_Operator           5268
Change Type to Aircraft_Type                  5268
Change Registration to Registration_Number    5268
Change Aboard to People_Aboard                5268
Change Fatalities to Fatalities_Aboard        5268
Change Ground to Ground_Fatalities            5268
Change Summary to Event_Info.s                5268
dtype: int64

In [ ]:
#2.15
stats.drop(['Date', 'Time', 'Flight #', 'Route', 'Registration_Number', 'cn/In', 'Change Summary to Event_Info.s'], axis=1, inplace=True)

# Converting

In [52]:
#2.17
label_encoder = LabelEncoder()

crashes['Change Operator to Airline_Operator'] = label_encoder.fit_transform(crashes['Change Operator to Airline_Operator'])
crashes['Change Type to Aircraft_Type'] = label_encoder.fit_transform(crashes['Change Type to Aircraft_Type'])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [54]:
pd.get_dummies(crashes['Change Location to Crash_Location'].apply(lambda x: "opp_" + x))
crashes['Change Location to Crash_Location'] = crashes['Change Location to Crash_Location'].apply(lambda x: "opp_" + x)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')

# same scale

In [ ]:
#2.18
scaler = MinMaxScaler()
 
scaled = scaler.fit_transform(df.to_numpy())
scaled = pd.DataFrame(scaled, columns=['Date',
                                                       'Time',
                                                       'Location',
                                                       'Operator',
                                                       'Flight #',
                                                       'Change Location to Crash_Location',
                                                       'Change Operator to Airline_Operator',
                                                       'Change Type to Aircraft_Type',
                                                       'Change Registration to Registration_Number',
                                                       'Change Aboard to People_Aboard',
                                                       'Change Fatalities to Fatalities_Aboard',
                                                       'Change Ground to Ground_Fatalities',
                                                       'Change Summary to Event_Info.s'])
 
print("Scaled Dataset Using MinMaxScaler")
df_scaled.head()

# 2.19

In [ ]:
crashes_clean = pd.concat([crashes, pd.get_dummies(crashes['Team']), pd.get_dummies(crashes['Opponent'])], axis=1)
crashes_clean.head(10)